/* ------ Media Queries ------ */


/* 1200-1400px */
@media screen and (max-width: 1400px) {
    .container {
        width: 1170px;
    }
}

/* 992-1200px */
@media screen and (max-width: 1200px) {

    .container {
        width: 960px;
    }
    .logo {
        /*display: table-caption;*/
        font-size: 30px;
    }
    .logo_description {
        margin: 0;
    }
}


/* 768-992px */
@media screen and (max-width: 992px) {

    .container {
        width: 720px;
    }
    .logo {
        font-size: 22px;
    }
    .header_phone {
        font-size: 25px;
    }
    .header_contact-time {
        font-size: 20px;
        margin-top: 10px;
    }
    .header_contact-time {
        font-size: 22px;
        margin-top: 5px;
    }
    .header_contact {
        text-align: center;
        margin-top: 15px;
    }
    h1 {
        font-size: 40px;
    }
    h2{
        font-size: 27px;
    }
    .offer {
        font-size: 23px;
    }
    .mission_description {
        font-size: 20px;
    }
    .footer_phone {
        font-size: 20px;
    }
    .footer_description {
        font-size: 18px;
    }
}

/* 576-768px */
@media screen and (max-width: 768px) {

    .container {
        width: 520px;
    }
    .logo {
        font-size: 30px;
        text-align: center;
        display: contents;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 37px;
    }
    .offer {
        font-size: 20px;
    }
    .mission {
        padding: 52px 20px;
    }
    .mission_description {
        text-align: center;
    }
    footer {
        text-align: center;
    }
    .footer_phone {
        font-size: 25px;
    }
    .footer_description {
        font-size: 25px;
    }
}

/* 320-576px */
@media screen and (max-width: 576px) {

    .container {
        width: 90%;
    }
    .logo {
        font-size: 25px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 18px;
    }
    .offer {
        font-size: 15px;
    }
    .about {
        padding: 50px 0;
    }
    .mission {
        padding: 30px 20px;
    }
    .mission_description {
        font-size: 15px;
    }
    .mission_description__indent {
        margin: 0;
    }
    .footer_phone {
        font-size: 26px;
    }
    .footer_link {
        margin-top: 15px;
    }
    .footer_description {
        font-size: 19px;
    }

}